
html {
    font-family: "Helvetica Neue", Helvetica, Arial;
}

.navbar {
    border-radius: 0px;
  
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.saturate {-webkit-filter: saturate(7); filter: saturate(7);}

.navbar {
    border: none;
    background-color: rgb(35, 40, 45)
}

#search {
    top: 60px;
    text-align: center;
}

.float-right {
    float: right;
}

.nav.nav-pills.nav-stacked {
    border: 1px black solid
}

#body_header {
    border-top:1px #ddd solid;
    border-right:1px #ddd solid;
    border-left:1px #ddd solid
}
