
/*  CSS file for Wdifiman Login form */


/*background-image styles*/
body {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/f0/36/16/f036167166943df6c583c44c8f1740cf.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	background-color: #1d1d1d;
	overflow: hidden;
	position: relative;
	height: 100vh;
	z-index: -10;
	top: 0;
	bottom: 0;

}

#overlay {
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;

}

#body-wrapper {
	text-align: center;
	width: 100%;
}


#form-image {
	text-align:center;
	margin-top: 100px;

}

#Login-title {
	width: 300px;
	margin-top: 40px
}

label {
	color:white;
}

#Login_form {
	width: 300px;
}

.btn {
	padding: 15px 100px 15px 100px;
	text-align: center;
	color: white;
	background-color: rgb(0, 171, 107);
	border: none;
	font-size: 18px;
	outline: none;
}

.btn:hover {
	color: white;
	outline-style: solid;
	outline-color: #64748c;
	border-radius: 0;
	outline-width: thin;

}

.checkbox {
	margin:20px 0;
}

.form-control {
	padding: 23px 10px 23px 10px;
}