#main-navbar {

    /*all the color changing function will be done slowly */
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    /*all the color changing function will be done slowly */
    border:none;
    padding: 10px 0;
}

#header-wrapper {
    width: 100%;
    height: 650px;
    background: linear-gradient(#333333b0, #33333336) ,
    url('../photo/1.jpg');
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;

}

.nav.navbar-nav.navbar-right a {
    color: #cdd2d8;
}
.nav.navbar-nav.navbar-right a:hover {
    color: white;
    /*background-color: rgba(225, 225, 225, 0.3);*/
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#last-menu {
    margin-right: 100px;
}

#main-navbar {
    background-color: transparent;
    border:none;
    padding: 3px 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.header-content {
    text-align: center;
    color: white;
    margin-top: 100px;
    /*not allow user to hightlight the text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;  /* Non-prefixed version, currently  supported by Chrome and Opera */
    /*not allow user to hightlight the text*/

}

.header-content p {
    font-size: 18px;
    /*color: #cdd2d8;*/
    color: white;
}

.header-content h1 {
    font-size: 3.1875em;
}


.header-content button {
    padding:15px 20px 15px 20px;
    font-size: 18px
}

.header-content .btn {
    margin-right: 10px;
    margin-bottom: 15px;
    border:none;
    color: white;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.header-content #btn1:hover {
    background-color: rgba(91, 192, 222, 0.7);
}

.header-content #btn2{
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content #btn2:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.row-center {
    text-align: center;
    padding-top: 20px;
    margin:auto;
}

.icon-footer {
    border-radius: 50%;
    font-size: 35px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: #DFDFDF;
    color: #555555;
    padding-top: 13px;
    display: inline-block;
}

#ic-facebook{
    text-decoration: none;
    color: #ffffff;
    background-color: #4267B2;
}
#ic-twitter {
    text-decoration: none;
    color: #ffffff;
    background-color: #1DA1F2;
}
#ic-instagram {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to top right, #ffcc00 10%, #cc0099, #990099, #3333cc)
}
#ic-google{
    text-decoration: none;
    color: #ffffff;
    background-color: #E84234;
}

#footer p {
    text-align: center;
}

#myModal .form-control {
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: none;
}

#myModal button {
    float: right;
}

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}

#form-reg .form-control{
    color: white;
    border-width: 2px;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: none;
    font-size: 18px;
}

#form-reg ::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#form-reg :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#form-reg ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#form-reg {
    width: 25%;
    margin: auto;
}